* {
    box-sizing: border-box;
    }

body {
    background-color: #ffe6ee;
    color: #4a2636;
    font-family: Arial, sans-serif;
    }

h1 {
    color: #c2185b;
    text-align: center;
    animation: aparecer 0.8s ease;
    }

.contenido {
    max-width: 600px;
    margin: 20px auto;
    padding: 0 10px;

    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    }

p {
    line-height: 1.6;
    }

.gif-capibara {
    display: block;
    width: 300px;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 15px;
    animation: aparecer 1.2s ease 0.4s both;
    }

@keyframes aparecer {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
    }

.boton-sorpresa {
    display: block;
    margin: 20px auto;
    padding: 12px 25px;
    background-color: #c2185b;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    }

#mensaje-sorpresa {
    display: none;
    text-align: center;
    font-size: 20px;
    color: #c2185b;
}



@keyframes caer {
  0% {
    transform: translateY(-60px) translateX(0) rotate(0deg);
  }

  25% {
    transform: translateY(25vh) translateX(25px) rotate(90deg);
  }

  50% {
    transform: translateY(50vh) translateX(-25px) rotate(180deg);
  }

  75% {
    transform: translateY(75vh) translateX(25px) rotate(270deg);
  }

  100% {
    transform: translateY(110vh) translateX(0) rotate(360deg);
  }
}

.corazones span {
  position: fixed;
  top: 0;
  font-size: 30px;
  animation: caer 6s linear infinite;
  z-index: 9999;
  pointer-events: none;
}

.corazones span:nth-child(1) {
  left: 10%;
  animation-duration: 5s;
  animation-delay: 0s;
}

.corazones span:nth-child(2) {
  left: 20%;
  animation-duration: 7s;
  animation-delay: 1s;
}

.corazones span:nth-child(3) {
  left: 35%;
  animation-duration: 6s;
  animation-delay: 2.5s;
}

.corazones span:nth-child(4) {
  left: 48%;
  animation-duration: 8s;
  animation-delay: 0.5s;
}

.corazones span:nth-child(5) {
  left: 60%;
  animation-duration: 5.5s;
  animation-delay: 3s;
}

.corazones span:nth-child(6) {
  left: 72%;
  animation-duration: 7.5s;
  animation-delay: 1.5s;
}

.corazones span:nth-child(7) {
  left: 85%;
  animation-duration: 6.5s;
  animation-delay: 4s;
}

.corazones span:nth-child(8) {
  left: 95%;
  animation-duration: 9s;
  animation-delay: 2s;
}

.corazones span:nth-child(1) {
  font-size: 20px;
}

.corazones span:nth-child(2) {
  font-size: 35px;
}

.corazones span:nth-child(3) {
  font-size: 25px;
}

.corazones span:nth-child(4) {
  font-size: 45px;
}

.corazones span:nth-child(5) {
  font-size: 22px;
}

.corazones span:nth-child(6) {
  font-size: 38px;
}

.corazones span:nth-child(7) {
  font-size: 28px;
}

.corazones span:nth-child(8) {
  font-size: 50px;
}